In [1]:
t1=("sneha","mohan","akshatha")
t2=(1,2,3,4)
t3=t1+t2
print(t3)

('sneha', 'mohan', 'akshatha', 1, 2, 3, 4)

In [ ]:
t1=("mohan","sneha","aksh")