In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [11]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [13]:
name=input("enter my name >>")
for i in name:
    print(i)

enter my name >> sneha

s
n
e
h
a

In [17]:
bag=["red","green","yellow"]
for sneha in bag:
    print(sneha,end=" ")

red green yellow

In [30]:
bag=("pink","blue","merun")
for ball in bag:
    print(ball)

pink
blue
merun

In [1]:
for i in range(3,31,3):
    print(f"{i}",end=" ")

3 6 9 12 15 18 21 24 27 30

In [48]:
#looping over strings and unpacking
name="Sneha"
for index,letter in enumerate(name):
    print(letter*(index+1))

S
nn
eee
hhhh
aaaaa

In [23]:
#use else in for loop
l=[122,22,14,134,123,]
for num in l:
    print(num)
    if num==14:
        print("Satisfied")
        continue
else:
    print("not satisfied")

122
22
14
Satisfied
134
123
not satisfied

In [30]:
#multiplication table
for i in range(1,11):
    print(f"12X{i}={12*i}")

12X1=12
12X2=24
12X3=36
12X4=48
12X5=60
12X6=72
12X7=84
12X8=96
12X9=108
12X10=120