In [5]:
x=("mohan","suma","akshatha","sneha")
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(x)

('mohan', 'kiwi', 'akshatha', 'sneha')

In [7]:
bond=("mohan","suma","akshatha")
m=list(bond)
m.append("sneha")
bond=tuple(m)
print(bond)

('mohan', 'suma', 'akshatha', 'sneha')

In [11]:
bond=("mohan","suma","akshatha")
y="sneha"
bond

TypeError: can only concatenate str (not "tuple") to str